target
pom.xml.release
pom.xml.versions
pom.xml.nextrelease.propertiesdependency-reduced-pom.xmluildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
